.App {
  text-align: center;
  color: darkslateblue;
}
.time{
	margin: 2em 0 0;
	padding: 0;
}
.toggle{
	padding: 0.8em;
	margin: 2em 0 0;
	background-color: darkslateblue;
	color: lightsalmon;
	border: none;
	font-weight: bold;
}
.toggle:hover{
	background-color: rgb(56, 48, 112);
	cursor: pointer;
}